---
title: Pics
scripts:
  - https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js
sheets:
  - https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css
---
<table>
  <tr>
    <td>
      <h2> Snugs The Cat </h2>
    </td>
    <td>
      {% include img.html img="Snugs-1" gallery="catdog" %}
      {% include img.html img="Snugs-2" gallery="catdog" %}
      {% include img.html img="Snugs-3" gallery="catdog" %}
      {% include img.html img="Best-pals" gallery="catdog" %}
    </td>
  </tr>
  <tr>
    <td>
      <h2> Fishing </h2>
    </td>
    <td>
      {% include img.html img="The-Pond" gallery="fishing" %}
      {% include img.html img="Peter-with-a-fish" gallery="fishing" %}
      {% include img.html img="A-Largemouth-Bass" gallery="fishing" %}
    </td>
  </tr>
  <tr>
    <td>
      <h2> Lane </h2>
    </td>
    <td>
      {% include img.html img="First-Time" gallery="lane" %}
      {% include img.html img="Coming-Home" gallery="lane" %}
      {% include img.html img="Home" gallery="lane" %}
      {% include img.html img="Snuggling" gallery="lane" %}
      {% include img.html img="With-Kitty" gallery="lane" %}
    </td>
  </tr>
  <tr>
    <td>
      <h2> Misc </h2>
    </td>
    <td>
      {% include img.html img="Pitting-Cherries" gallery="misc" %}
      {% include img.html img="Dominoes" gallery="misc" %}
      {% include img.html img="Pretzel" gallery="misc" %}
    </td>
  </tr>
</table>
