<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  {% for sheet in page.sheets %}
    <link rel="stylesheet" type="text/css" href={{ sheet }}>
  {% endfor %}
  {% for script in page.scripts %}
    <script src={{ script }}></script>
  {% endfor %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1 class="title">{{page.title}}</h1>
  <nav>
    {% for page in site.pages %}
        <a href={{ page.url }}>{{ page.title }}</a>
    {% endfor %}
  </nav>
  <section>
    {{content}}
  </section>
  <div style="clear: both;"></div>
  <footer>
    <a href="https://www.github.com/pjht/pjht.github.io">Source code</a>
  </footer>
</body>
</html>
