body {
  background-color: skyblue;
}

.title {
  text-align: center;
}


nav {
  float: left;
  max-width: 200px;
  background-color: black;
  padding: 10px;
}

nav a {
  color: gray;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

nav a:last-child {
  margin-bottom: 0px;
}

footer {
  font-size: 10px;
  clear: both;
  padding: 0 20px 40px 20px;
}

section {
  min-width: 400px;
  float: right;
  margin-left: 20px;
  width: 80%;
}


@media only screen and (max-width: 615px) {
  nav {
    float: none;
    margin: 0 auto 0 20px;
    width: 100px;
  }

  section {
    float: none;
    margin: 0 auto 0 20px;
    width: 90%;
  }
}
