html,body {
  height: 100%;
}

body {
  background-color: skyblue;
}

.title {
  text-align: center;
}

section {
  min-width: 400px;
  float: left;
}

nav {
  float: left;
  max-width: 200px;
  background-color: black;
  padding: 10px;
  margin-right: 100px;
}

.nav {
  color: gray;
  text-decoration: none;
}

footer {
  font-size: 10px;
  clear: both;
  position: absolute;
}
