html,body {
  height: 100%;
}

body {
  background-color: skyblue;
}

.title {
  text-align: center;
}

section {
  min-width: 400px;
  float: left;
}

nav {
  float: left;
  max-width: 200px;
  background-color: black;
  padding: 10px;
  margin-right: 100px;
}

nav a {
  color: gray;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

nav a:last-child {
  margin-bottom: 0px;
}
footer {
  font-size: 10px;
  clear: both;
  position: absolute;
}

span {
  top: 50%;
}

td {
  padding-right: 10px;
}
